html {
    background: #222;
    color: #000;
    font-family: Sans-Serif;
}
#nobat {
    position: fixed;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    transition: background-color .5s;
}
#counter {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    text-align: center;
    line-height: 0;
    background: #ffa500;
    border-radius: 1rem;
    padding: 5px;
    display: flex;
}
#blackC {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 40%;
}
#whiteC {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    height: 30px;
    width: 30px;
    border-radius: 40%;
    margin-left: 5px;
}
#container {
    display: grid;
    grid-template-columns: 4% 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 4% 12% 12% 12% 12% 12% 12% 12% 12%;
    box-sizing: border-box;
    background: #ffa500;
    padding: 2mm;
    border-radius: 7%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.colums {
    text-align: center;
    transform: translateY(-1mm);
}
.row {
    text-align: center;
    padding: 90% 0;
}
.block {
    border: 2px solid #ffa500;
    box-sizing: border-box;
    background: #b17300;
    border-radius: 100%;
    transition: background-color .5s;
}
@media screen and (orientation:portrait) {
    #container {
        width: 96%;
    }
}
@media screen and (orientation:landscape) {
    #container {
        height: 96%;
    }
}
.white {
    background-color: #fff;
}
.black {
    background-color: #000;
}